/* ::::: http://www.pcduino.com/wiki/load.php?debug=false&lang=en&modules=mediawiki.legacy.commonPrint%2Cshared%7Cmediawiki.skinning.interface%7Cmediawiki.ui.button%7Cskins.vector.styles&only=styles&skin=vector&* ::::: */

@media print {
  .noprint, div#jump-to-nav, .mw-jump, div.top, div#column-one, #colophon, .mw-editsection, .mw-editsection-like, .toctoggle, #toc.tochidden, div#f-poweredbyico, div#f-copyrightico, li#viewcount, li#about, li#disclaimer, li#mobileview, li#privacy, #footer-places, .mw-hidden-catlinks, tr.mw-metadata-show-hide-extended, span.mw-filepage-other-resolutions, #filetoc, .usermessage, .patrollink, #mw-navigation, #siteNotice { display: none; }
  .wikitable, .thumb, img { page-break-inside: avoid; }
  h2, h3, h4, h5, h6 { page-break-after: avoid; }
  p { widows: 3; orphans: 3; }
  body { background: none repeat scroll 0% 0% white; color: black; margin: 0px; padding: 0px; }
  ul { list-style-type: square; }
  h1, h2, h3, h4, h5, h6 { font-weight: bold; }
  p { margin: 1em 0px; line-height: 1.2em; }
  pre, .mw-code { border: 1pt dashed black; white-space: pre; font-size: 8pt; overflow: auto; padding: 1em 0px; background: none repeat scroll 0% 0% white; color: black; }
  .mw-body { background: none repeat scroll 0% 0% white; border: medium none ! important; padding: 0px ! important; margin: 0px ! important; direction: ltr; color: black; }
  #toc { border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249); padding: 5px; display: table; }
  #footer { background: none repeat scroll 0% 0% white; color: black; margin-top: 1em; border-top: 1px solid rgb(170, 170, 170); direction: ltr; }
  img { border: medium none; vertical-align: middle; }
  a { color: black ! important; background: none repeat scroll 0% 0% transparent ! important; padding: 0px ! important; }
  a:link, a:visited { color: rgb(85, 34, 0); background: none repeat scroll 0% 0% transparent; text-decoration: underline; }
  .mw-body a.external.text:after, .mw-body a.external.autonumber:after { content: " (" attr(href) ")"; }
  a, a.external, a.new, a.stub { color: black ! important; text-decoration: none ! important; }
  a, a.external, a.new, a.stub { color: inherit ! important; text-decoration: inherit ! important; }
  .printfooter { padding: 1em 0px; }
}
@media screen {
  .mw-content-ltr { direction: ltr; }
  .sitedir-ltr textarea, .sitedir-ltr input { direction: ltr; }
  input[type="submit"], input[type="button"], input[type="reset"], input[type="file"] { direction: ltr; }
  #catlinks { text-align: left; }
  .catlinks-allhidden { display: none; }
  .visualClear { clear: both; }
  .mw-content-ltr ul, .mw-content-rtl .mw-content-ltr ul { margin: 0.3em 0px 0px 1.6em; padding: 0px; }
  h1:lang(anp), h1:lang(as), h1:lang(bh), h1:lang(bho), h1:lang(bn), h1:lang(gu), h1:lang(hi), h1:lang(kn), h1:lang(ks), h1:lang(ml), h1:lang(mr), h1:lang(my), h1:lang(mai), h1:lang(ne), h1:lang(new), h1:lang(or), h1:lang(pa), h1:lang(pi), h1:lang(sa), h1:lang(ta), h1:lang(te) { line-height: 1.6em ! important; }
  h2:lang(anp), h3:lang(anp), h4:lang(anp), h5:lang(anp), h6:lang(anp), h2:lang(as), h3:lang(as), h4:lang(as), h5:lang(as), h6:lang(as), h2:lang(bho), h3:lang(bho), h4:lang(bho), h5:lang(bho), h6:lang(bho), h2:lang(bh), h3:lang(bh), h4:lang(bh), h5:lang(bh), h6:lang(bh), h2:lang(bn), h3:lang(bn), h4:lang(bn), h5:lang(bn), h6:lang(bn), h2:lang(gu), h3:lang(gu), h4:lang(gu), h5:lang(gu), h6:lang(gu), h2:lang(hi), h3:lang(hi), h4:lang(hi), h5:lang(hi), h6:lang(hi), h2:lang(kn), h3:lang(kn), h4:lang(kn), h5:lang(kn), h6:lang(kn), h2:lang(ks), h3:lang(ks), h4:lang(ks), h5:lang(ks), h6:lang(ks), h2:lang(ml), h3:lang(ml), h4:lang(ml), h5:lang(ml), h6:lang(ml), h2:lang(mr), h3:lang(mr), h4:lang(mr), h5:lang(mr), h6:lang(mr), h2:lang(my), h3:lang(my), h4:lang(my), h5:lang(my), h6:lang(my), h2:lang(mai), h3:lang(mai), h4:lang(mai), h5:lang(mai), h6:lang(mai), h2:lang(ne), h3:lang(ne), h4:lang(ne), h5:lang(ne), h6:lang(ne), h2:lang(new), h3:lang(new), h4:lang(new), h5:lang(new), h6:lang(new), h2:lang(or), h3:lang(or), h4:lang(or), h5:lang(or), h6:lang(or), h2:lang(pa), h3:lang(pa), h4:lang(pa), h5:lang(pa), h6:lang(pa), h2:lang(pi), h3:lang(pi), h4:lang(pi), h5:lang(pi), h6:lang(pi), h2:lang(sa), h3:lang(sa), h4:lang(sa), h5:lang(sa), h6:lang(sa), h2:lang(ta), h3:lang(ta), h4:lang(ta), h5:lang(ta), h6:lang(ta), h2:lang(te), h3:lang(te), h4:lang(te), h5:lang(te), h6:lang(te) { line-height: 1.2em; }
  #toc ul, .toc ul { margin: 0.3em 0px; }
  .mw-content-ltr .toc ul, .mw-content-ltr #toc ul, .mw-content-rtl .mw-content-ltr .toc ul, .mw-content-rtl .mw-content-ltr #toc ul { text-align: left; }
  .mw-content-ltr .toc ul ul, .mw-content-ltr #toc ul ul, .mw-content-rtl .mw-content-ltr .toc ul ul, .mw-content-rtl .mw-content-ltr #toc ul ul { margin: 0px 0px 0px 2em; }
  #toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle { direction: ltr; }
  .mw-jump, #jump-to-nav { overflow: hidden; height: 0px; }
  .printfooter { display: none; }
  .mw-editsection, .toctoggle, #jump-to-nav { -moz-user-select: none; }
}
@media screen {
  a { text-decoration: none; color: rgb(6, 69, 173); background: none repeat scroll 0% 0% transparent; }
  a:visited { color: rgb(11, 0, 128); }
  a:active { color: rgb(250, 167, 0); }
  a:hover, a:focus { text-decoration: underline; }
  .mw-body a.external { color: rgb(51, 102, 187); }
  .mw-body a.external:visited { color: rgb(102, 51, 102); }
  .mw-body a.external:active { color: rgb(187, 102, 51); }
  img { border: medium none; vertical-align: middle; }
  h1, h2, h3, h4, h5, h6 { color: black; background: none repeat scroll 0% 0% transparent; font-weight: normal; margin: 0px; overflow: hidden; padding-top: 0.5em; padding-bottom: 0.17em; border-bottom: 1px solid rgb(170, 170, 170); }
  h1 { font-size: 188%; }
  h2 { font-size: 150%; }
  h3, h4, h5, h6 { border-bottom: medium none; font-weight: bold; }
  h3 { font-size: 132%; }
  h4 { font-size: 116%; }
  h5 { font-size: 108%; }
  h1, h2 { margin-bottom: 0.6em; }
  h3, h4, h5 { margin-bottom: 0.3em; }
  p { margin: 0.4em 0px 0.5em; line-height: 1.5em; }
  ul { line-height: 1.5em; list-style-type: square; margin: 0.3em 0px 0px 1.6em; padding: 0px; }
  li { margin-bottom: 0.1em; }
  pre, code, tt, kbd, samp, .mw-code { font-family: monospace,Courier; }
  pre, .mw-code { color: black; background-color: rgb(249, 249, 249); border: 1px solid rgb(221, 221, 221); padding: 1em; }
  table { font-size: 100%; }
  form { border: medium none; margin: 0px; }
  #toc, .toc, .mw-warning { border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249); padding: 5px; font-size: 95%; }
  #toc, .toc { display: table; padding: 7px; }
  #toc h2, .toc h2 { display: inline; border: medium none; padding: 0px; font-size: 100%; font-weight: bold; }
  #toc #toctitle, .toc #toctitle, #toc .toctitle, .toc .toctitle { text-align: center; }
  #toc ul, .toc ul { list-style-type: none; list-style-image: none; margin-left: 0px; padding: 0px; text-align: left; }
  #toc ul ul, .toc ul ul { margin: 0px 0px 0px 2em; }
  #toc .toctoggle, .toc .toctoggle { font-size: 94%; }
  .catlinks { border: 1px solid rgb(170, 170, 170); background-color: rgb(249, 249, 249); padding: 5px; margin-top: 1em; clear: both; }
  .firstHeading { margin-bottom: 0.1em; line-height: 1.2em; padding-bottom: 0px; }
  #siteSub { display: none; }
  #jump-to-nav { margin-top: -1.4em; margin-bottom: 1.4em; }
  #contentSub, #contentSub2 { font-size: 84%; line-height: 1.2em; margin: 0px 0px 1.4em 1em; color: rgb(84, 84, 84); width: auto; }
}
@media screen {
  html { font-size: 100%; }
  html, body { height: 100%; margin: 0px; padding: 0px; font-family: sans-serif; }
  body { background-color: rgb(246, 246, 246); }
  .mw-body { margin-left: 10em; padding: 1em; border-width: 1px 0px 1px 1px; border-style: solid; border-color: rgb(167, 215, 249); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; margin-top: -1px; background-color: rgb(255, 255, 255); color: rgb(37, 37, 37); direction: ltr; }
  .mw-body p { line-height: inherit; margin: 0.5em 0px; }
  .mw-body h1, .mw-body h2, .mw-body #firstHeading { font-family: "Linux Libertine",Georgia,Times,serif; line-height: 1.3; margin-bottom: 0.25em; padding: 0px; }
  .mw-body h1, .mw-body #firstHeading { font-size: 1.8em; }
  .mw-body h2 { font-size: 1.5em; margin-top: 1em; }
  .mw-body h3, .mw-body h4, .mw-body h5, .mw-body h6 { line-height: 1.6; margin-top: 0.3em; margin-bottom: 0px; padding-bottom: 0px; }
  .mw-body h3 { font-size: 1.17em; }
  .mw-body h3, .mw-body h4 { font-weight: bold; }
  .mw-body h4, .mw-body h5, .mw-body h6 { font-size: 100%; }
  .mw-body #toc h2, .mw-body .toc h2 { font-size: 100%; font-family: sans-serif; }
  div.emptyPortlet { display: none; }
  ul { list-style-type: disc; list-style-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAANAQMAAABb8jbLAAAABlBMVEX///8AUow5QSOjAAAAAXRSTlMAQObYZgAAABNJREFUCB1jYEABBQw/wLCAgQEAGpIDyT0IVcsAAAAASUVORK5CYII="); }
  pre, .mw-code { line-height: 1.3em; }
  .mw-body-content { position: relative; line-height: 1.6; font-size: 0.875em; }
  body.vector-animateLayout .mw-body, body.vector-animateLayout div#footer, body.vector-animateLayout #left-navigation { transition: margin-left 250ms ease 0s, padding 250ms ease 0s; }
  body.vector-animateLayout #p-logo { transition: left 250ms ease 0s; }
  body.vector-animateLayout #mw-panel { transition: padding-right 250ms ease 0s; }
  body.vector-animateLayout #p-search { transition: margin-right 250ms ease 0s; }
  body.vector-animateLayout #p-personal { transition: right 250ms ease 0s; }
  body.vector-animateLayout #mw-head-base { transition: margin-left 250ms ease 0s; }
  #p-personal { position: absolute; top: 0.33em; right: 0.75em; z-index: 100; }
  #p-personal h3 { display: none; }
  #p-personal ul { list-style-type: none; list-style-image: none; margin: 0px; padding-left: 10em; }
  #p-personal li { line-height: 1.125em; float: left; margin-left: 0.75em; margin-top: 0.5em; font-size: 0.75em; white-space: nowrap; }
  #p-search { float: left; margin-right: 0.5em; margin-left: 0.5em; }
  #p-search h3 { display: none; }
  #p-search form, #p-search input { margin: 0.4em 0px 0px; }
  div#simpleSearch { display: block; width: 12.6em; padding-right: 1.4em; height: 1.4em; margin-top: 0.65em; position: relative; min-height: 1px; border: 1px solid rgb(170, 170, 170); color: black; background-color: white; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAQCAIAAABY/YLgAAAAJUlEQVQIHQXBsQEAAAjDoND/73UWdnerhmHVsDQZJrNWVg3Dqge6bgMe6bejNAAAAABJRU5ErkJggg=="); background-position: left top; background-repeat: repeat-x; }
  div#simpleSearch input { margin: 0px; padding: 0px; border: 0px none; background-color: transparent; color: black; }
  div#simpleSearch #searchInput { width: 100%; padding: 0.2em 0px 0.2em 0.2em; font-size: 13px; direction: ltr; }
  div#simpleSearch #searchInput:focus { outline: medium none; }
  div#simpleSearch #searchInput:-moz-placeholder { color: rgb(153, 153, 153); }
  div#simpleSearch #searchButton, div#simpleSearch #mw-searchButton { position: absolute; top: 0px; right: 0px; width: 1.65em; height: 100%; cursor: pointer; text-indent: -99999px; line-height: 1; direction: ltr; white-space: nowrap; overflow: hidden; background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEyIiBoZWlnaHQ9IjEzIj48ZyBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZT0iIzZjNmM2YyIgZmlsbD0ibm9uZSI+PHBhdGggZD0iTTExLjI5IDExLjcxbC00LTQiLz48Y2lyY2xlIGN4PSI1IiBjeT0iNSIgcj0iNCIvPjwvZz48L3N2Zz4="); background-position: center center; background-repeat: no-repeat; }
  div.vectorTabs h3 { display: none; }
  div.vectorTabs { float: left; height: 2.5em; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAIAAABmjeQ9AAAARElEQVR42mVO2wrAUAhy/f8fz+niVMTYQ3hLKkgGgN/IPvgIhUYYV/qogdP75J01V+JwrKZr/5YPcnzN3e6t7l+2K+EFX91B1daOi7sAAAAASUVORK5CYII="); background-position: left bottom; background-repeat: no-repeat; padding-left: 1px; }
  div.vectorTabs ul { float: left; height: 100%; list-style-type: none; list-style-image: none; margin: 0px; padding: 0px; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAIAAABmjeQ9AAAARElEQVR42mVO2wrAUAhy/f8fz+niVMTYQ3hLKkgGgN/IPvgIhUYYV/qogdP75J01V+JwrKZr/5YPcnzN3e6t7l+2K+EFX91B1daOi7sAAAAASUVORK5CYII="); background-position: right bottom; background-repeat: no-repeat; }
  div.vectorTabs ul li { float: left; line-height: 1.125em; display: inline-block; height: 100%; margin: 0px; padding: 0px; background-color: rgb(243, 243, 243); background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkCAIAAADITs03AAAAPElEQVR4XuWK2xEAIAzCsPvv5DSu0ahX3yv4wQVyGGCSvg2dnJvduT8sz/IwKOIfjCi2z/76FhHeJcslVZQFLUC06LZ/AAAAAElFTkSuQmCC"); background-position: left bottom; background-repeat: repeat-x; white-space: nowrap; }
  div.vectorTabs ul > li { display: block; }
  div.vectorTabs li {  }
  div.vectorTabs li.new a, div.vectorTabs li.new a:visited { color: rgb(165, 88, 88); }
  div.vectorTabs li.selected { background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAABkAQAAAABvV2fNAAAADUlEQVQIHWNoYBgWEACJ5TIB0K9KcAAAAABJRU5ErkJggg=="); }
  div.vectorTabs li.selected a, div.vectorTabs li.selected a:visited { color: rgb(51, 51, 51); text-decoration: none; }
  div.vectorTabs li a { display: inline-block; height: 1.9em; padding-left: 0.5em; padding-right: 0.5em; color: rgb(6, 69, 173); cursor: pointer; font-size: 0.8em; }
  div.vectorTabs span { display: inline-block; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAIAAABmjeQ9AAAARElEQVR42mVO2wrAUAhy/f8fz+niVMTYQ3hLKkgGgN/IPvgIhUYYV/qogdP75J01V+JwrKZr/5YPcnzN3e6t7l+2K+EFX91B1daOi7sAAAAASUVORK5CYII="); background-position: right bottom; background-repeat: no-repeat; }
  div.vectorTabs span a { display: inline-block; padding-top: 1.25em; }
  div.vectorTabs span > a { float: left; display: block; }
  div.vectorMenu { direction: ltr; float: left; cursor: pointer; position: relative; }
  div#mw-head div.vectorMenu h3 { float: left; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAAuCAIAAABmjeQ9AAAARElEQVR42mVO2wrAUAhy/f8fz+niVMTYQ3hLKkgGgN/IPvgIhUYYV/qogdP75J01V+JwrKZr/5YPcnzN3e6t7l+2K+EFX91B1daOi7sAAAAASUVORK5CYII="); background-repeat: no-repeat; background-position: right bottom; margin-left: -1px; font-size: 1em; height: 2.5em; padding-right: 1px; margin-right: -1px; }
  div.vectorMenu h3 span { display: block; font-size: 0.8em; padding-left: 0.7em; padding-top: 1.375em; margin-right: 20px; font-weight: normal; color: rgb(77, 77, 77); }
  div.vectorMenu h3 a { position: absolute; top: 0px; right: 0px; width: 20px; height: 2.5em; background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjIyIiBoZWlnaHQ9IjE2Ij48cGF0aCBkPSJNMTUuNTAyIDYuMDAxbC01IDUuMDAxLTUtNS4wMDF6IiBmaWxsPSIjNzk3OTc5Ii8+PC9zdmc+"); background-position: 100% 70%; background-repeat: no-repeat; transition: background-position 250ms ease 0s; }
  div.vectorMenu div.menu { min-width: 100%; position: absolute; top: 2.5em; left: -1px; background-color: white; border-right: 1px solid silver; border-width: 0px 1px 1px; border-style: solid; border-color: silver; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; clear: both; text-align: left; display: none; }
  div.vectorMenu:hover div.menu, div.vectorMenu.menuForceShow div.menu { display: block; }
  div.vectorMenu ul { list-style-type: none; list-style-image: none; padding: 0px; margin: 0px; text-align: left; }
  div.vectorMenu ul, x:-moz-any-link { min-width: 5em; }
  div.vectorMenu ul, x:-moz-any-link, x:default { min-width: 0px; }
  @keyframes rotate {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
  @keyframes rotate {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
  #mw-navigation h2 { position: absolute; top: -9999px; }
  #mw-page-base { height: 5em; background-position: left bottom; background-repeat: repeat-x; background-image: linear-gradient(rgb(255, 255, 255) 50%, rgb(246, 246, 246) 100%); background-color: rgb(255, 255, 255); }
  #mw-head-base { margin-top: -5em; margin-left: 10em; height: 5em; }
  div#mw-head { position: absolute; top: 0px; right: 0px; width: 100%; }
  div#mw-head h3 { margin: 0px; padding: 0px; }
  #left-navigation { float: left; margin-left: 10em; margin-top: 2.5em; margin-bottom: -2.5em; display: inline; }
  #right-navigation { float: right; margin-top: 2.5em; }
  #p-logo { position: absolute; top: -160px; left: 0px; width: 10em; height: 160px; }
  #p-logo a { display: block; width: 10em; height: 160px; background-repeat: no-repeat; background-position: center center; text-decoration: none; }
  div#mw-panel { font-size: inherit; position: absolute; top: 160px; padding-top: 1em; width: 10em; left: 0px; }
  div#mw-panel div.portal { margin: 0px 0.6em 0px 0.7em; padding: 0.25em 0px; direction: ltr; background-position: left top; background-repeat: no-repeat; background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAIwAAAABCAAAAAAphRnkAAAAJ0lEQVQIW7XFsQEAIAyAMPD/b7uLWz8wS5youFW1UREfiIpH1Q2VBz7fGPS1dOGeAAAAAElFTkSuQmCC"); }
  div#mw-panel div.portal h3 { font-size: 0.75em; color: rgb(77, 77, 77); font-weight: normal; margin: 0px; padding: 0.25em 0px 0.25em 0.25em; cursor: default; border: medium none; }
  div#mw-panel div.portal div.body { margin: 0px 0px 0px 1.25em; padding-top: 0px; }
  div#mw-panel div.portal div.body ul { list-style-type: none; list-style-image: none; margin: 0px; padding: 0px; }
  div#mw-panel div.portal div.body ul li { line-height: 1.125em; margin: 0px; padding: 0.25em 0px; font-size: 0.75em; word-wrap: break-word; }
  div#mw-panel div.portal div.body ul li a { color: rgb(6, 69, 173); }
  div#mw-panel div.portal div.body ul li a:visited { color: rgb(11, 0, 128); }
  div#mw-panel div.portal.first { background-image: none; margin-top: 0px; }
  div#mw-panel div.portal.first h3 { display: none; }
  div#mw-panel div.portal.first div.body { margin-left: 0.5em; }
  div#footer { margin-left: 10em; margin-top: 0px; padding: 0.75em; direction: ltr; }
  div#footer ul { list-style-type: none; list-style-image: none; margin: 0px; padding: 0px; }
  div#footer ul li { margin: 0px; padding: 0.5em 0px; color: rgb(51, 51, 51); font-size: 0.7em; }
  div#footer #footer-icons { float: right; }
  div#footer #footer-icons li { float: left; margin-left: 0.5em; line-height: 2em; text-align: right; }
  div#footer #footer-info li { line-height: 1.4em; }
  div#footer #footer-places li { float: left; margin-right: 1em; line-height: 2em; }
  body.ltr div#footer #footer-places { float: left; }
  .mw-body .external { background-position: right center; background-repeat: no-repeat; background-image: linear-gradient(transparent, transparent), url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwIiBoZWlnaHQ9IjEwIj48ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtODI2LjQyOSAtNjk4Ljc5MSkiPjxyZWN0IHdpZHRoPSI1Ljk4MiIgaGVpZ2h0PSI1Ljk4MiIgeD0iODI2LjkyOSIgeT0iNzAyLjMwOSIgZmlsbD0iI2ZmZiIgc3Ryb2tlPSIjMDZjIi8+PGc+PHBhdGggZD0iTTgzMS4xOTQgNjk4Ljc5MWg1LjIzNHY1LjM5MWwtMS41NzEgMS41NDUtMS4zMS0xLjMxLTIuNzI1IDIuNzI1LTIuNjg5LTIuNjg5IDIuODA4LTIuODA4LTEuMzExLTEuMzExeiIgZmlsbD0iIzA2ZiIvPjxwYXRoIGQ9Ik04MzUuNDI0IDY5OS43OTVsLjAyMiA0Ljg4NS0xLjgxNy0xLjgxNy0yLjg4MSAyLjg4MS0xLjIyOC0xLjIyOCAyLjg4MS0yLjg4MS0xLjg1MS0xLjg1MXoiIGZpbGw9IiNmZmYiLz48L2c+PC9nPjwvc3ZnPg=="); padding-right: 13px; }
}
@media screen and (min-width: 982px) {
  .mw-body { margin-left: 11em; padding: 1.25em 1.5em 1.5em; }
  #p-logo { left: 0.5em; }
  div#footer { margin-left: 11em; padding: 1.25em; }
  #mw-panel { padding-left: 0.5em; }
  #p-search { margin-right: 1em; }
  #left-navigation { margin-left: 11em; }
  #p-personal { right: 1em; }
  #mw-head-base { margin-left: 11em; }
}
/* ::::: [internal] ::::: */

.suggestions { overflow: hidden; position: absolute; top: 0px; left: 0px; width: 0px; border: medium none; z-index: 1099; padding: 0px; margin: -1px 0px 0px; }
.suggestions-special { position: relative; background-color: white; cursor: pointer; border: 1px solid rgb(170, 170, 170); margin: -2px 0px 0px; display: none; padding: 0.25em; line-height: 1.25em; }
.suggestions-results { background-color: white; cursor: pointer; border: 1px solid rgb(170, 170, 170); padding: 0px; margin: 0px; }
/* ::::: [internal] ::::: */

/* ::::: [internal] ::::: */

a:lang(ar), a:lang(kk-arab), a:lang(mzn), a:lang(ps), a:lang(ur) { text-decoration: none; }
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

