/* Code tidied up by ScrapBook */
@font-face {
  font-family: "Ubuntu";
  font-style: normal;
  font-weight: 400;
  src: local("Ubuntu Regular"), local("Ubuntu-Regular"), url("_xyN3apAT_yRRDeqB3sPRg.woff") format("woff");
}
