/* ::::: https://www.google.com/css/maia.css ::::: */

@media screen, projection, print {
  html, input, textarea { font-family: arial,sans-serif; }
  html { line-height: 1.54; }
  h5, h6, pre, table, input, textarea, code { font-size: 1em; }
  fieldset, iframe, img { border: 0px none; }
}
@media screen, projection {
  html, h4, h5, h6 { font-size: 13px; }
  html { background: none repeat scroll 0% 0% rgb(255, 255, 255); color: rgb(68, 68, 68); padding: 0px 15px; }
  body, fieldset { margin: 0px; }
  h1, h2, h3, h4, em, i { font-weight: bold; }
  h1, h2, h3, h4, blockquote, q { font-family: "open sans",arial,sans-serif; }
  h1, h2, h3, h4, h5, h6 { margin: 1.236em 0px 0.618em; }
  h1, h2 { line-height: 1.29; }
  h1 { font-size: 20px; }
  h2 { font-size: 16px; }
  p, pre, table, form { margin: 10px 0px; }
  ul, ol { margin: 10px 10px 10px 30px; padding: 0px; }
  a { color: rgb(36, 93, 193); text-decoration: none; }
  a:visited { color: rgb(119, 89, 174); }
  a:focus, a:hover, a:active { text-decoration: underline; }
  #maia-header, #maia-nav-x, #maia-footer, .maia-stage { margin: 0px -15px; }
  #maia-header .maia-aux:after, #maia-header .maia-util:after, #maia-main:after { clear: both; content: " "; display: block; height: 0px; visibility: hidden; }
  #maia-main, .maia-aux { margin: auto; max-width: 978px; }
  #maia-main { clear: both; margin-top: 30px; }
  #maia-main > img, #maia-main > iframe, #maia-main > * > img, #maia-main > * > iframe, .maia-cols > div > img, .maia-cols > div > iframe, .maia-cols > div > * > img, .maia-cols > div > * > iframe { box-sizing: border-box; max-width: 100%; }
  #maia-header { background: -moz-linear-gradient(center top , rgb(250, 250, 250), rgb(245, 245, 245)) repeat scroll 0% 0% transparent; border-bottom: 1px solid rgb(238, 238, 238); color: rgb(68, 68, 68); min-height: 44px; padding: 14px 15px 13px; }
  #maia-header h1, #maia-header h2 { float: left; font-size: 32px; font-weight: 300; line-height: 1.375; margin: 0px; }
  #maia-header h1, #maia-header h1 a { color: rgb(99, 102, 106); }
  #maia-header h1 img { margin: -1px 0px -4px; vertical-align: middle; }
  #maia-header h2, #maia-header h2 a { color: rgb(159, 162, 166); }
  #maia-header h2:before { border-style: solid; border-color: rgb(229, 229, 229); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-width: 0px 0px 0px 1px; content: ""; float: left; height: 44px; margin: 0px 12px 0px 14px; }
  #maia-header h1 a, #maia-header h2 a { text-decoration: none; }
  #maia-header .maia-teleport { height: 1px; left: -10000px; overflow: hidden; position: absolute; top: auto; width: 1px; }
  #maia-header .maia-teleport:active, #maia-header .maia-teleport:focus, #maia-header .maia-teleport:hover { background: none repeat scroll 0% 0% rgb(249, 237, 190); border: 1px solid rgb(240, 195, 109); border-radius: 2px 2px 2px 2px; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.14); height: auto; left: 0px; margin: 5px auto; max-width: 180px; padding: 6px; right: 0px; text-align: center; width: auto; z-index: 3; }
  #maia-header .maia-util { float: right; min-height: 44px; }
  #maia-nav-x, #maia-nav-x.maia-compact h1 { background: -moz-linear-gradient(center top , rgb(78, 120, 194), rgb(50, 93, 167)) repeat scroll 0% 0% transparent; color: rgb(255, 255, 255); padding: 0px 15px; }
  #maia-nav-x ul { padding: 6px 0px; }
  #maia-nav-x ul, #maia-nav-y ul { list-style: none outside none; margin: 0px; }
  #maia-nav-x ul, #maia-nav-x li a, #maia-nav-x li.active li a, #maia-nav-x .maia-aux { position: relative; }
  #maia-nav-x ul:after { clear: both; content: ""; display: block; }
  #maia-nav-x li { float: left; font-size: 14px; line-height: 1.43; margin: 0px 20px 0px 0px; padding: 6px 0px; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.08); }
  #maia-nav-x li:last-child { margin: 0px; }
  #maia-nav-x li a, #maia-nav-y li a { display: block; margin: -6px 0px; padding: 6px 0px; }
  #maia-nav-x li a, #maia-nav-x li.active li a { z-index: 1; }
  #maia-nav-x li, #maia-nav-x li.active a, #maia-nav-x li.active li.active a, #maia-nav-y li, #maia-nav-y li.active a, #maia-nav-y li.active li.active a { font-weight: bold; }
  #maia-nav-x li a, #maia-nav-x li.active li a, #maia-nav-y li a, #maia-nav-y li.active li a { font-weight: normal; }
  #maia-nav-x li a { color: rgb(225, 229, 242); }
  #maia-nav-x li a:hover, #maia-nav-x li.active a { color: rgb(255, 255, 255); }
  #maia-nav-x li li a:hover, #maia-nav-x li li.active a, #maia-nav-x li.active li a:hover, #maia-nav-x li.active li.active a, #maia-nav-y li a:hover, #maia-nav-y li.active a, #maia-nav-y li.active li a:hover, #maia-nav-y li.active li.active a { color: rgb(22, 68, 149); }
  #maia-nav-x li li a, #maia-nav-x li.active li a, #maia-nav-y li a, #maia-nav-y li.active li a { color: rgb(36, 93, 193); }
  #maia-nav-x.maia-complex { margin-bottom: 45px; }
  #maia-nav-y { float: left; margin: 0px 0px 120px; width: 14.1104%; }
  #maia-nav-y ul ul, #maia-nav-y li { border: medium solid rgb(238, 238, 238); }
  #maia-nav-y li { border-width: 0px 0px 1px; padding: 9px 0px; }
  #maia-nav-y li:last-child { border: 0px none; }
  #maia-signature { clear: both; margin: 120px auto 0px; max-width: 978px; min-height: 4px; }
  #maia-signature:after, #maia-signature:before { content: ""; float: right; height: 4px; }
  #maia-signature:after, [dir="rtl"] #maia-signature:before { border-left: 34px solid rgb(0, 137, 250); border-right: 35px solid rgb(255, 0, 43); }
  #maia-signature:before, [dir="rtl"] #maia-signature:after { border-left: 35px solid rgb(255, 169, 0); border-right: 34px solid rgb(0, 167, 83); }
  #maia-footer { background: none repeat scroll 0% 0% rgb(245, 245, 245); clear: both; }
  #maia-footer-global, #maia-footer-local { padding: 10px 15px; }
  #maia-footer-global { border-top: 1px solid rgb(238, 238, 238); font-size: 11px; line-height: 2.19; list-style: none outside none; }
  #maia-footer-global ul { margin: 0px; }
  #maia-footer-global li { display: inline; }
  #maia-footer-global li + li:before { content: "·"; padding: 0px 3px; }
  #maia-footer-local { background: none repeat scroll 0% 0% rgb(249, 249, 249); border-top: 1px solid rgb(245, 245, 245); min-height: 24px; }
}
@media screen and (max-width: 767px) {
  #maia-header { min-height: 33px; padding: 9px 15px 8px; }
  #maia-header h1, #maia-header h2 { float: none ! important; }
  #maia-header h1 a, #maia-header h2 a { display: block; }
  #maia-header h1 { font-size: 24px; }
  #maia-header h1 img { height: 31px; margin: -2px 0px -3px; }
  #maia-header h2 { background-image: radial-gradient(farthest-side at center top , rgba(0, 0, 0, 0.04) 0px, transparent 100%); border-top: 1px solid rgb(225, 225, 225); font-family: arial,sans-serif; font-size: 11px; line-height: 1.81; margin: 8px 0px -8px; padding: 1px 0px 0px; }
  #maia-header h2:before { content: none; }
  #maia-header h2, #maia-header h2 a { color: rgb(99, 102, 106); }
  #maia-header .maia-util { background: none repeat scroll 0% 0% rgb(255, 255, 255); border-width: 1px; border-style: solid; border-color: rgb(233, 233, 233) rgb(233, 233, 233) rgb(217, 217, 217); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-radius: 3px 3px 3px 3px; box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.04); float: none ! important; margin: 8px 0px 6px; min-height: 0px; padding: 5px 10px; }
  #maia-nav-y { float: none ! important; margin: 0px 0px 30px ! important; width: auto; }
  #maia-signature { margin: 90px auto 0px; min-height: 3px; }
  #maia-signature:after, #maia-signature:before { height: 3px; }
  #maia-signature:after, [dir="rtl"] #maia-signature:before { border-width: 0px 25.5px 0px 26.25px; }
  #maia-signature:before, [dir="rtl"] #maia-signature:after { border-width: 0px 26.25px 0px 25.5px; }
}
@media print {
  a { color: inherit; }
  #maia-header h1 img { display: block; }
  #maia-header a { text-decoration: none; }
  #maia-header .maia-teleport, #maia-signature, #maia-footer, .maia-nav { display: none; }
}
@media screen, projection {
  .maia-cols { margin: 0px -1.53374%; width: 103.067%; }
  .maia-cols:after { clear: both; content: " "; display: block; height: 0px; visibility: hidden; }
  .maia-col-1, .maia-col-2, .maia-col-3, .maia-col-4, .maia-col-5, .maia-col-6, .maia-col-7, .maia-col-8, .maia-col-9, .maia-col-10, .maia-col-11, .maia-col-12 { float: left; margin: 0px 1.4881% 20px; }
  .maia-col-4 { width: 30.3571%; }
  .maia-col-6 { width: 47.0238%; }
  .maia-col-10 { width: 80.3571%; }
}
@media screen and (max-width: 767px) {
  .maia-cols { margin: 0px ! important; width: 100% ! important; }
  .maia-col-1, .maia-col-2, .maia-col-3, .maia-col-4, .maia-col-5, .maia-col-6, .maia-col-7, .maia-col-8, .maia-col-9, .maia-col-10, .maia-col-11, .maia-col-12 { clear: both; float: none ! important; margin: 0px 0px 20px ! important; width: 100% ! important; }
}
@media screen, projection, print {
  .maia-meta, .maia-note { color: rgb(102, 102, 102); }
}
@media screen, projection {
  #maia-header .maia-util .maia-plusone, #maia-header .maia-util .maia-search { float: left; margin: 0px 0px 0px 15px; }
  #maia-header .maia-util > :first-child { margin: 0px; }
  #maia-header .maia-util .maia-search { margin-top: 8px ! important; }
  #maia-header .maia-search { float: right; margin: 0px; }
  .maia-button { background-color: rgb(65, 115, 201); background-image: -moz-linear-gradient(center top , rgb(94, 142, 228), rgb(65, 115, 201)); border: 0px none; border-radius: 2px 2px 2px 2px; color: rgb(255, 255, 255); cursor: pointer; display: inline-block; font-family: arial,sans-serif; font-size: 13px; font-weight: bold; line-height: 1.54; padding: 7px 12px; text-align: center; text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.08); }
  button.maia-button { margin: 0px; overflow: visible; white-space: normal; }
  button.maia-button::-moz-focus-inner { border: 0px none; padding: 0px; }
  .maia-button:hover, .maia-button:focus { background-color: rgb(57, 107, 188); background-image: -moz-linear-gradient(center top , rgb(85, 135, 215), rgb(57, 107, 188)); }
  .maia-button:active { box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.24) inset; }
  form, form fieldset { margin: 0px 0px 20px; }
  form label, form p, form input, form textarea, form select { margin: 0px 0px 5px; }
  form input:not([type]), form input[type="text"], form textarea { border-width: 1px; border-style: solid; border-right: 1px solid rgb(235, 235, 235); border-color: rgb(220, 220, 220) rgb(235, 235, 235) rgb(235, 235, 235); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(68, 68, 68); font-family: arial,sans-serif; line-height: normal; padding: 6px 10px; width: 300px; }
  .maia-aside, .maia-notification, .maia-promo { border: 1px solid; border-radius: 4px 4px 4px 4px; margin: 10px 0px; padding: 10px; position: relative; top: -1px; }
  .maia-aside > :first-child, .maia-notification > :first-child, .maia-promo > :first-child { margin-top: 0px; }
  .maia-aside > :last-child, .maia-notification > :last-child, .maia-promo > :last-child { margin-bottom: 0px; }
  .maia-aside { background: none repeat scroll 0% 0% rgb(249, 249, 249); border-color: rgb(242, 242, 242); }
  .maia-meta { font-size: 11px; line-height: 1.8; }
  .maia-search input[type="text"] { border-width: 1px; border-style: solid; border-right: 1px solid rgb(229, 229, 229); border-color: rgb(220, 220, 220) rgb(229, 229, 229) rgb(229, 229, 229); -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; color: rgb(102, 102, 102); display: inline-block; line-height: normal; margin: 0px 10px 0px 0px; padding: 6px 10px; width: 200px; }
  .maia-search input[type="text"]:focus { border-color: rgb(94, 148, 255); box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.2) inset; color: rgb(68, 68, 68); outline: 0px none; }
  .maia-search .maia-button { height: 29px; line-height: normal; padding: 0px 10px; }
  .maia-search-icon { background: url("data:image/png;base64, iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAA8klEQVQ4y2P4//8/AyUYm2AUEK8A4qdA/BCIlwJxILEGzP%2BPG8whZEAySNXfv39/7N69uz8oKCgkMjIy7PDhw1OBYr%2BhhoTgM2AXSMXWrVvbGRgYpICYHYg5gFj20KFDk6AGrMNlADvU9t8eHh4KDGigqKhIH2rAa7wG/Pv379fMmTNZ0Q3Yv3%2B/CNSAj/i8cACk4s%2BfP4noBvz69asQasAWgoEIdMUXIJUAxPxALArEmUCx70%2BfPgUHIrLB2KJxEZ5o/A8NXCl8BsBcsgXq39fQkI%2BCakA2CKcB2FMckgEwQ0g2AN0QsgxAM4SBopxIFQMA2gfLa8hOZI0AAAAASUVORK5CYII%3D") no-repeat scroll center center transparent; display: block; text-indent: -9999px; width: 46px; }
}
@media screen and (max-width: 767px) {
  #maia-header .maia-util .maia-plusone, #maia-header .maia-util .maia-search { display: block; float: none ! important; margin: 4px 0px ! important; }
  #maia-header .maia-util .maia-search input[type="text"] { width: 165px; }
}
@media print {
  .plusone-button, .maia-plusone, .maia-nav-aux, .maia-breadcrumb, .maia-search { display: none ! important; }
  .maia-button { font-weight: bold; }
}
/* ::::: https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&lang=en ::::: */

@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  src: local("Open Sans Light"), local("OpenSans-Light"), url("DXI1ORHCpsQm3Vp6mXoaTXhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Open Sans"), local("OpenSans"), url("cJZKeOuBrn4kERxqtaUH3T8E0i7KZn-EPnyo3HZu7kw.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  src: local("Open Sans Semibold"), local("OpenSans-Semibold"), url("MTP_ySUJH_bn48VBG8sNSnhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
@font-face {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  src: local("Open Sans Bold"), local("OpenSans-Bold"), url("k3k702ZOKiLJc3WVjuplzHhCUOGz7vYGh680lGh-uXM.woff") format("woff");
}
/* ::::: https://code.google.com/archive/archive_css.css ::::: */

.gca-label { display: inline; background-color: rgb(0, 153, 51); padding: 0.2em 0.6em 0.3em; font-size: 70%; font-weight: 700; line-height: 1; color: rgb(255, 255, 255); text-align: center; white-space: nowrap; vertical-align: baseline; border-radius: 0.25em 0.25em 0.25em 0.25em; }
.gca-project-logo { max-height: 55px; max-width: 108px; }
#gca-project-header .gca-project-logo { float: left; padding-right: 15px; }
#gca-project-header h1 { margin-top: 10px; }
#gca-project-info-box { float: right; }
/* ::::: [internal] ::::: */

@charset "UTF-8";
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

