/* Code tidied up by ScrapBook */
#sites-chrome-page-wrapper { width: 70% ! important; }
#sites-chrome-everything { min-width: 70% ! important; }
#sites-chrome-header-wrapper { border-bottom: 0px none ! important; }
