/* ::::: https://help.ubuntu.com/lts/serverguide/C.css ::::: */

html { height: 100%; }
body { font-family: sans-serif; margin: 0px; padding: 0px; background-color: rgb(255, 255, 255); color: rgb(51, 51, 51); direction: ltr; }
div.sect { margin-top: 2.4em; clear: both; }
div.sect div.sect { margin-top: 1.44em; }
div.trails { margin: 0px; padding: 0.5em 1em; background-color: rgb(242, 242, 242); }
div.trail { margin: 0.2em 0px 0px; padding: 0px 1em; text-indent: -1em; color: rgb(51, 51, 51); }
a.trail { white-space: nowrap; }
div.hgroup { margin: 1em 0px 0.5em; color: rgb(51, 51, 51); }
div.sect div.hgroup { margin-top: 0px; border-bottom: 1px solid rgb(204, 193, 193); }
h1, h2, h3, h4, h5, h6, h7 { margin: 0px; padding: 0px; color: rgb(51, 51, 51); font-weight: bold; }
h1 { font-size: 2em; }
h2 { font-size: 1.44em; }
h3.title, h4.title, h5.title, h6.title, h7.title { font-size: 1.2em; }
h3, h4, h5, h6, h7 { font-size: 1em; }
p { line-height: 1.72em; }
div, pre, p { margin: 1em 0px 0px; padding: 0px; }
div.contents > :first-child, th > :first-child, td > :first-child, dt > :first-child, dd > :first-child, li > :first-child { margin-top: 0px; }
div.inner, div.region, div.contents, pre.contents { margin-top: 0px; }
div.clear { margin: 0px; padding: 0px; height: 0px; line-height: 0; clear: both; }
ul, ol, dl { margin: 0px; padding: 0px; }
li { margin: 1em 0px 0px 2.4em; padding: 0px; }
li:first-child { margin-top: 0px; }
a { text-decoration: none; color: rgb(221, 72, 20); }
a:visited { color: rgb(221, 72, 20); }
a:hover { border-bottom: 1px dotted rgb(204, 193, 193); }
p a { border-bottom: 1px dotted rgb(204, 193, 193); }
@media only screen and (max-width: 400px) {
  div.trails { padding: 12px; }
  li { margin-left: 1.44em; }
}
pre.contents { padding: 0.5em 1em; }
div.links ul { margin: 0px; padding: 0px; }
li.links { margin: 0.5em 0px; padding: 0px 0px 0px 1em; list-style-type: none; }
div.sectionlinks { display: inline-block; padding: 0px 1em; background-color: rgb(242, 242, 242); border: 1px solid rgb(204, 193, 193); }
div.sectionlinks ul { margin: 0px; }
div.sectionlinks li { padding: 0px; }
div.nextlinks { font-size: 1.2em; margin-left: 1.2em; float: right; clear: both; }
div.nextlinks a { background-color: rgb(242, 242, 242); display: inline-block; position: relative; height: 1.44em; padding: 0.2em 0.83em; margin-bottom: 1em; }
a.nextlinks-prev { margin-left: 0.72em; }
a.nextlinks-next { margin-right: 0.72em; }
a.nextlinks-prev:after, a.nextlinks-next:after { border: 0.92em solid transparent; content: " "; position: absolute; height: 0px; width: 0px; top: 50%; margin-top: -0.92em; }
a.nextlinks-prev:after { right: 100%; border-right-color: rgb(242, 242, 242); }
a.nextlinks-next:after { left: 100%; border-left-color: rgb(242, 242, 242); }
div.nextlinks a:hover { border: medium none; background: none repeat scroll 0% 0% rgb(242, 242, 242); }
a.nextlinks-prev:hover:after { border-right-color: rgb(242, 242, 242); }
a.nextlinks-next:hover:after { border-left-color: rgb(242, 242, 242); }
div.code { border: 1px solid rgb(204, 193, 193); }
div.screen { background-color: rgb(242, 242, 242); border: 1px solid rgb(204, 193, 193); }
span.app { font-style: italic; }
span.cmd { font-family: monospace; background-color: rgb(242, 242, 242); padding: 0px 0.2em; }
pre span.cmd { padding: 0px; }
span.em { font-style: italic; }
span.file { font-family: monospace; }
@media only screen and (max-width: 400px) {
  div.links { margin-left: 12px; margin-right: 12px; }
  li.links { padding: 0px; }
}
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dd, dl, dt, li, ol, ul, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin: 0px; padding: 0px; border: 0px none; font-weight: inherit; font-style: inherit; font-size: 100%; line-height: 1.5; font-family: inherit; text-align: left; vertical-align: baseline; }
ol, ul { list-style: none outside none; }
.clear { clear: both; }
body { background-image: url("bg_dotted.png"); }
#main-menu a { padding: 24px 8px; }
#search-box { margin-left: 660px; background-color: rgb(242, 242, 242); width: 290px; height: 33px; padding: 7px 0px 0px 10px; }
#cwt-content pre { line-height: 16px; margin-bottom: 8px; }
#cwt-content h1 { margin-bottom: 8px; }
#footer { margin: 0px; font-size: 90%; color: rgb(68, 68, 68); }
#cwt-content ol, #cwt-content ul, #cwt-content dl { margin-bottom: 8px; list-style-type: decimal; }
#cwt-content li, #cwt-content dd, #cwt-content dt { line-height: 14px; }
body { font-family: "Ubuntu","Ubuntu Beta","Bitstream Vera Sans",DejaVu Sans,Tahoma,sans-serif; color: rgb(51, 51, 51); background: url("bg_dotted.png") repeat scroll 0% 0% white; font-size: 13px; line-height: 1.5; margin: 0px; padding: 0px; }
#container { background: none repeat scroll 0% 0% rgb(247, 246, 245); margin: 0px auto 20px; padding: 0px; width: 976px; }
#container-inner { background-color: rgb(255, 255, 255); }
#header, #container-inner {  }
#header { background: url("header_bg.png") repeat-x scroll left top rgb(221, 72, 20); height: 64px; margin: 0px; padding: 0px; position: relative; }
#mothership ul { margin: 0px; padding: 0px; list-style-type: none; height: 20px; }
#mothership li { float: right; padding: 3px 0px; margin: 0px 16px 0px 0px; font-size: 10px; line-height: 14px; }
#mothership a { color: rgb(51, 51, 51); }
#menu-search { height: 40px; margin: 0px 16px; }
#cwt-content { width: 850px; padding: 16px 40px; margin: 0px 16px 16px; background-color: rgb(255, 255, 255); }
#ubuntu-header { background-image: url("header_logo.png"); background-repeat: no-repeat; height: 32px; right: 16px; margin: 0px; padding: 0px; position: absolute; top: 16px; width: 292px; overflow: hidden; text-indent: -9999px; }
#ubuntu-header a { display: block; height: 100%; width: 100%; }
#footer { padding-top: 16px; }
#footer p { margin: 0px; padding-bottom: 16px; border-bottom: 1px dotted rgb(174, 167, 159); text-align: center; }
#main-menu { list-style: none outside none; margin: 0px 0px 0px 16px; padding: 0px; height: 100%; background: url("topnav_divider.png") no-repeat scroll left top transparent ! important; }
#main-menu li { float: left; margin: 0px; padding: 0px; height: 64px; font-size: 14px; line-height: 16px; background: url("topnav_divider.png") no-repeat scroll right top transparent ! important; }
#main-menu a { display: block; float: left; margin: 0px; padding: 24px 8px; text-decoration: none; color: rgb(255, 255, 255); text-shadow: 0px 1px rgb(0, 0, 0); }
.main-menu-item.current, #main-menu a:hover, #main-menu a.active { background: url("topnav_active_bg.png") no-repeat scroll right top transparent ! important; }
h1, h2, h3, h4, h5 { color: rgb(51, 51, 51); padding: 0px; margin: 1em 0px 0px; font-weight: normal; }
h1 { font-size: 28px; line-height: 32px; margin-top: 0em; }
h2 { font-size: 24px; line-height: 28px; margin-bottom: 8px; }
h3 { font-size: 16px; line-height: 20px; margin-bottom: 8px; }
p { font-size: 13px; line-height: 1.5; margin-bottom: 8px; }
pre { background-color: rgb(243, 243, 243); border: 1px dashed rgb(193, 180, 150); font-family: UbuntuMono,courier,monospace; padding: 4pt; white-space: pre-wrap; word-wrap: break-word; }
div.screen, div.code { background-color: rgb(255, 255, 255); border: 0px none; }
a { color: rgb(221, 72, 20); text-decoration: none; }
a:hover { text-decoration: underline; }
ul { margin-bottom: 16px; }
ul li { margin-left: 2.4em; margin-bottom: 8px; line-height: 14px; }
ul li:last-child { margin-bottom: 0px; }
.clearfix:after { content: "."; display: block; height: 0px; clear: both; visibility: hidden; }
.clearfix { display: inline-block; }
div.trail { font-size: 100%; text-indent: -1em; color: rgb(174, 167, 159); }
input, select { font-size: 100%; }
@media not all {
}
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

