/* ::::: http://orgmode.org/worg/style/worg.css ::::: */

/* ::::: (import) http://fonts.googleapis.com/css?family=Droid+Sans|Droid+Sans+Mono|Droid+Serif ::::: */
@font-face {
  font-family: "Droid Sans";
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans"), local("DroidSans"), url("s-BiyweUPV0v-yRb-cjciBsxEYwM7FgeyaSgU71cLG0.woff") format("woff");
}
@font-face {
  font-family: "Droid Sans Mono";
  font-style: normal;
  font-weight: 400;
  src: local("Droid Sans Mono"), local("DroidSansMono"), url("ns-m2xQYezAtqh7ai59hJUYuTAAIFFn5GTWtryCmBQ4.woff") format("woff");
}
@font-face {
  font-family: "Droid Serif";
  font-style: normal;
  font-weight: 400;
  src: local("Droid Serif"), local("DroidSerif"), url("0AKsP294HTD-nvJgucYTaIbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}
/* ::::: (end import) ::::: */
@media all {
  html { margin: 0px; font: 0.9em/1.6em "Droid Serif",Cambria,Georgia,"DejaVu Serif",serif; background-image: url("org-mode-unicorn-logo-worg.png"); background-attachment: fixed; background-position: right bottom; background-repeat: no-repeat; background-color: white; }
  body { font-size: 12pt; line-height: 18pt; color: black; margin-top: 0px; }
  body #content { max-width: 80%; min-width: 700px; margin-left: 20px; background-color: white; padding: 2em; }
  body .title { margin-left: 0px; font-size: 22pt; }
  #table-of-contents { font-size: 10pt; position: fixed; right: 0em; top: 0em; background: none repeat scroll 0% 0% white; line-height: 12pt; text-align: right; box-shadow: 0px 0px 1em rgb(119, 119, 119); max-height: 80%; overflow: auto; }
  #table-of-contents h2 { font-size: 13pt; max-width: 9em; border: 0px none; font-weight: normal; padding: 0.05em 0.5em; }
  #table-of-contents #text-table-of-contents { display: none; text-align: left; }
  #table-of-contents:hover #text-table-of-contents { display: block; padding: 0.5em; margin-top: -1.5em; }
  #license { background-color: rgb(238, 238, 238); }
  h1 { font-size: 2.1em; padding: 0px 0px 30px; margin-top: 10px; margin-bottom: 10px; margin-right: 7%; color: grey; }
  h2 { font-family: sans-serif; font-size: 1.45em; line-height: 16px; padding: 10px 0px; color: black; border-bottom: 1px solid rgb(221, 221, 221); }
  .outline-text-2 { margin-left: 0.1em; }
  h3 { font-family: sans-serif; font-size: 1.3em; color: grey; margin-left: 0.6em; }
  .outline-text-3 { margin-left: 0.9em; }
  a { text-decoration: none; font-weight: 400; }
  a:visited { text-decoration: none; font-weight: 400; }
  a:hover { text-decoration: underline; }
  li { margin: 0.4em; }
  table { border: medium none; }
  td { border: medium none; }
  th { border: medium none; }
  code { font-size: 100%; color: black; border: 1px solid rgb(222, 222, 222); padding: 0px 0.2em; }
  pre { font-family: Droid Sans Mono,Monaco,Consolas,"Lucida Console",monospace; color: black; font-size: 90%; background-color: rgb(255, 255, 255); padding: 1.2em; border: 2px solid rgb(221, 221, 221); overflow: auto; }
  .outline-text-1, .outline-text-2, .outline-text-3, .outline-text-4, .outline-text-5, .outline-text-6 {  }
  #show_source { margin: 0px; padding: 0px; }
  #postamble { font-size: 75%; min-width: 700px; max-width: 80%; margin-left: 20px; margin-top: 10px; padding: 0.2em; border: 1px solid gray; background-color: rgb(255, 255, 255); z-index: -1000; }
}
@media screen {
  #table-of-contents { float: right; border: 1px solid rgb(204, 204, 204); max-width: 50%; overflow: auto; }
}
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

