/* ::::: http://lgfang.github.io/mynotes/cssjs/lgfang.css ::::: */

/* ::::: (import) http://lgfang.github.io/mynotes/cssjs/base.css ::::: */
.container-narrow { margin: 0px auto; max-width: 700px; }
.src, .example { overflow: auto; font-family: consolas,Monaco,"Lucida Console","Courier New",Courier,monospace; display: block; padding: 9.5px; border: 1px solid; background: none repeat scroll 0% 0% rgb(245, 245, 245); }
code { border: 1px outset rgb(85, 85, 85); background: none repeat scroll 0% 0% rgb(217, 226, 225); padding: 2px; border-radius: 0.35em 0.35em 0.35em 0.35em; }
/* ::::: (end import) ::::: */
/* ::::: (import) http://lgfang.github.io/mynotes/cssjs/tango.css ::::: */
.org-builtin { color: rgb(117, 80, 123); }
.org-comment { color: rgb(95, 97, 92); font-style: italic; }
.org-comment-delimiter { color: rgb(95, 97, 92); font-style: italic; }
.org-doc { color: rgb(92, 53, 102); }
.org-function-name { color: rgb(164, 0, 0); }
.org-keyword { color: rgb(52, 102, 4); }
.org-negation-char {  }
.org-sh-escaped-newline { color: rgb(92, 53, 102); }
.org-sh-quoted-exec { color: rgb(255, 0, 255); }
.org-string { color: rgb(92, 53, 102); }
.org-variable-name { color: rgb(179, 80, 0); }
a { color: rgb(32, 74, 135); background-color: inherit; font: inherit; text-decoration: inherit; }
a:hover { text-decoration: underline; }
/* ::::: (end import) ::::: */
/* ::::: (import) http://lgfang.github.io/mynotes/cssjs/table.css ::::: */
/* ::::: (end import) ::::: */
/* ::::: [internal] ::::: */

@media screen {
}
@media print {
}
/* ::::: [internal] ::::: */

/* ::::: http://a.disquscdn.com/next/embed/styles/loading.8023a7350e47171f7bb79707886cd7c5.css ::::: */

