/* Code tidied up by ScrapBook */
.bbs-content { font-size: 12px ! important; font-family: "細明體","AR PL UMing TW","Menlo","LiSongPro",monospace; }
.bbs-screen { width: auto ! important; }
#main-content { white-space: pre; }
#navigation div { display: inline-block; margin: 0px 4px; }
